logs
wandb
checkpoints/*
output/*
**/__pycache__
*.cpython
*.pyc
*.pt.trace.*
*.ckpt
*.out
*.swp
*.pt
output/*
*.gif
*.crt
*.pkl
**/*.egg-info
.vscode
data

# 大文件：CUDA 安装包和数据集
*.run
*.tar.gz
acronym.tar.gz
cuda_*.run
